<!DOCTYPE html>
<html ng-app="CollegeApp">
<head>
	<meta charset="UTF-8">
	<title>Test</title>
	<script type="text/javascript" src="./js/angular.min.js"></script>
</head>
<body>
	<header>
		<h3 style="color:blue; opacity: 0.83;">College App&copy;</h3>
	</header>
	<section ng-controller="GroupsController as groupsCtrl">
		<p>
			Please, Select a Group for work:
			<select ng-model="groupsCtrl.selGroup" ng-options="group.id for group in groupsCtrl.list">
				<option value="">->Select Group<-</option>
			</select>
		</p>
		<section>
			<span ng-show="groupsCtrl.selGroup" style="display: block;">Speciality: {{groupsCtrl.selGroup.speciality}}</span>
			<span ng-show="groupsCtrl.selGroup">Group#: {{groupsCtrl.selGroup.name}}</span>
			<span ng-show="groupsCtrl.selGroup">Curator: {{groupsCtrl.selGroup.curator}}</span>
		</section>
		<section ng-show="groupsCtrl.selGroup">
			<ol>
				<li ng-repeat="student in groupsCtrl.selGroup.students track by $index">
					{{student.lastName}} {{student.firstName[0].toUpperCase() + '.'}}{{student.patronymic[0].toUpperCase() + '.'}}
					<a href ng-click="groupsCtrl.deleteStudent(groupsCtrl.selGroup.id, $index)">-</a>&nbsp;<a href ng-click="groupsCtrl.setViewMode($index, 'E')">/</a>
				</li>
				<li><a href ng-click="groupsCtrl.setViewMode(null, 'A')">+</a></li>
			</ol>
			<div ng-show="groupsCtrl.viewMode == 'A' || groupsCtrl.viewMode == 'E'">
				<form ng-controller="StudentController as studentCtrl" ng-submit="groupsCtrl.postStudent(studentCtrl.getStudent())" novalidate>
					<table border="1">
						<tr>
							<td style="text-align:right;" colspan="2"><a href ng-click="groupsCtrl.viewMode = ''">x</a></td>
						</tr>
						<tr>
							<td>First Name:</td><td><input ng-model="studentCtrl.self.firstName" type="text"/></td>
						</tr>
						<tr>
							<td>Last Name:</td><td><input ng-model="studentCtrl.self.lastName" type="text"/></td>
						</tr>
						<tr>
							<td>Patronymic*:</td><td><input ng-model="studentCtrl.self.patronymic" type="text"/></td>
						</tr>
						<tr>
							<td colspan="2"><input type="submit" value="Apply"></td>
						</tr>
					</table>
				</form>
			</div>
		</section>
	</section>
	<script>
		var app = angular.module("CollegeApp", []);
		
		app.service("studentService", function() {
				
				var _default = {
					firstName: '',
					lastName: "",
					patronymic: '',
					age: 0
				};
				
				this.self = angular.copy( _default );
				
				this.setStudent = function(stud) {
						
						angular.extend( this.self, stud );
					};
				
				this.getStudent = function() {
						
						return this.self;
					};
				
				/*
				this.setStudentDefault = function() {
						
						angular.extend( this.self, _default );
						
					};
				*/
				this.getStudentDefault = function() {
						
						return angular.copy( _default );
					};
				
			});
		
		app.controller("GroupsController", function($http, studentService) {
		
				this.selGroup = '';
				this.selStudIdx = -1;
				
				this.viewMode = '';
				
				this.list = [];
				
				var _self = this;
				
				$http( {
						async: false,
						url: 'data/groups.json'
					})
					.success(function(data) {
					
							angular.extend(_self.list,data);
						})
					.error(function(err) {
					
							alert(err);
						});
				
				this.setViewMode = function(iStud, mode) {
						
						if (iStud !== null && mode == 'E') {
							
							this.selStudIdx = iStud;
							
							studentService.setStudent(this.selGroup.students[iStud]);
							
						}
						else
						{
							studentService.setStudent( studentService.getStudentDefault() );
						}
						
						this.viewMode = mode;
					};
				
				this.postStudent = function(student) {
						
						if (this.viewMode == 'E') {
							
							angular.extend(this.selGroup.students[this.selStudIdx], student);
						}
						else{
							
							$http.post('addStudent.php',
								{
									idGroup: _self.selGroup.id,
									stud: student
								})
								.success(function(data) {
								
										_self.selGroup.students.push(student);
										
										this.viewMode = '';
										
										studentService.setStudent( studentService.getStudentDefault() );
										
									})
								.error(function(err) {
								
										alert(err);
									});
						}
						
						studentService.setStudent( studentService.getStudentDefault() );
						
						this.viewMode = '';
						
					};
				
				this.deleteStudent = function(idGroup, iStud) {
				
						for(var i = 0; i < this.list.length; i++) {
						
							if ("undefined" !== iStud && _self.list[i].id === idGroup) {
							
								$http.post('deleteStudent.php',
									{
										idGroup: idGroup,
										iStud: iStud
									})
									.success(function(data) {
											
											_self.list[i].students.splice(iStud, 1);
										})
									.error(function(err) {
											
											alert(err);
										});
										
								break;
								
							}
							
						}
						
					};
				
			});
		
		app.controller("StudentController", function(studentService) {
				
				this.self = studentService.getStudent();
				
				this.getStudent = function() {
						
						return angular.copy(this.self);
					};
			});
			
	</script>
</body>
</html>